# Standard VS.NET and ReSharper Foo
[Oo]bj
[Bb]in
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.xap
*.bak
*.cache
_cache
_cache\*
*log.txt
*.svclog
*.docstates
*.dtbcache

packages/

*/ClientBin
*/Generated_Code

# Database projects
*.dbmdl*
*.dbproj.*
sql/

# Visual Studio 2015 cache/options directory
.vs/